.jumbotron{style:"text-align:center;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;"}
  %h1
    .orange
      = @article.name
  %p
    = @article.body
  %span
    = "Added by"
    .text-muted
      = @article.added_by


= link_to 'Back', v2015_articles_path
