!!!
%html
  %head
    =render :partial => 'v2015/layouts/layout_header'
  %body.red-background
    =render :partial => 'v2015/layouts/layout_nav_bar'
    .sticky-container
      %ul.sticky
        %li
          %a{href:"https://www.facebook.com/fsmkcamp15", target:"_blank"}
            = image_tag "social/icon-facebook.png", height: "32", width: "32", alt: "Facebook"
            %p Facebook
        %li
          %a{href:"https://twitter.com/fsmk_org", target:"_blank"}
            = image_tag "social/icon-twitter.png", height: "32", width: "32", alt: "Twitter"
            %p Twitter

    .container.pull-down
      .col-sm-3
        %p.lead
          Free Software Movement Karnataka
        %a{href: "http://fsmk.org", rel: "FSMK's Site", target: "_blank"}
          = image_tag "v2015/FSMKLogo.png", width: "60%", style: "border-width:1", alt: "FSMK's site"
        %hr.featurette-divider
        %p.lead
          REVA University
        .bs-callout.bs-callout-info  
          =link_to(image_tag("v2015/college-logo.png", alt: "REVA University", :class => "img-responsive"), "http://reva.edu.in/", target: "_blank")
        /
          %hr.featurette-divider
            %p.lead
              Sponsor
            =link_to(image_tag("sponsor/sflclogo-small.png", alt: "sflc.in", :class => "img-responsive"), "http://www.sflc.in", target: "_blank")
          %hr.featurette-divider
          .blog-slider
            %h5 Camp memories 2013
            = content_tag "div", "",id: "blog-slider", data: {blogs: @blogs}
        %hr.featurette-divider
        =render :partial => 'v2015/shared/remaining_day_for_camp'
      .col-sm-9.white-background
        =render :partial => 'v2015/shared/flash_messages'
        = yield
    =render :partial => 'v2015/layouts/layout_footer'
