!!!
%html
  %head
    =render :partial => 'layouts/layout_header'
  %body
    =render :partial => 'layouts/layout_nav_bar'
    .container.pull-down.with-padding
      .col-sm-3
        %p.lead
          Free Software Movement Karnataka
        %a{href: "http://fsmk.org", rel: "FSMK's Site", target: "_blank"}
          = image_tag "FSMK_Logo.png", width: "100%", style: "border-width:1", alt: "FSMK's site"
          
        %hr.featurette-divider
        = content_tag "div", "", class: "blog-slider", data: {blogs: @blogs}
      .col-sm-9
        - flash.each do |key, value|
          %div{:class => "alert alert-#{key}", :style => "margin-top:10px"}
            %button.close{"data-dismiss" => "alert", :type => "button"} &times;
            = value
        = yield
  %footer
    %hr
    %center
      %a{href: "http://creativecommons.org/licenses/by/3.0/deed.en_US", rel: "license"}
        %img{alt: "Creative Commons License", src: "http://i.creativecommons.org/l/by/3.0/88x31.png", style: "border-width:0;"}
      %br
      This work is licensed under a
      %a{href: "http://creativecommons.org/licenses/by/3.0/deed.en_US", rel: "license"} Creative Commons Attribution 3.0 Unported License
