!!!
%html
  %head
    =render :partial => 'layouts/layout_header'
  %body
    =render :partial => 'layouts/layout_nav_bar'
    .sticky-container
      %ul.sticky
        %li
          %a{href:"https://www.facebook.com/fsmksummercamp14", target:"_blank"}
            = image_tag "social/icon-facebook.png", height: "32", width: "32", alt: "Facebook"
            %p Facebook
        %li
          %a{href:"https://twitter.com/FSMKSC14", target:"_blank"}
            = image_tag "social/icon-twitter.png", height: "32", width: "32", alt: "Twitter"
            %p Twitter

    .container.pull-down.with-padding
      .col-sm-3
        %p.lead
          Free Software Movement Karnataka
        %a{href: "http://fsmk.org", rel: "FSMK's Site", target: "_blank"}
          = image_tag "FSMK_Logo.png", width: "100%", style: "border-width:1", alt: "FSMK's site"
          
        %hr.featurette-divider
        .blog-slider
          %h5 Camp memories 2013
          = content_tag "div", "",id: "blog-slider", data: {blogs: @blogs}
        %hr.featurette-divider
        =render :partial => 'shared/remaining_day_for_camp'
      .col-sm-9
        =render :partial => 'shared/flash_messages'
        = yield
    =render :partial => 'layouts/layout_footer'
